doctype html
html
 head
   title #{title}
   link(rel='stylesheet', href='/css/style.css')
   meta(name="viewport" content="width=device-width, initial-scale=1")
 body
   header.header
         h1 #{title}
   div.profile
     div.profile-image(style=`background: url('/images/${person.imgSrc}') top center no-repeat; background-size: cover;`)
     div.profile-details
       h1.profile-name
         | #{person.firstname} #{person.lastname}
       h2.profile-tagline
         | #{person.tagline}
       p.profile-bio
         | #{person.bio}
       a.button.button-twitter(href=`${person.twitter}`)
         | Follow me on Twitter